/* COLOR PALETTE:

RED:      CC0000
GREEN:    448C58
L-GREY:   A8A8A8
D-GREY:   2E2E2E

*/


/* UNIVERSAL */

body {
  font-family: 'Raleway', 'Helvetica', sans-serif;
  color: white;
  background: #2E2E2E;
}

h1 {
  font-family: 'Raleway', 'Helvetica', sans-serif;
  color: white;
  letter-spacing: 20px;
  margin: 0 auto;
  text-shadow: 0 3px 2px rgba(0, 0, 0, 0.5);
  font-size: 48px;
}

h2,
h3 {
  font-family: 'Oswald', 'Helvetica', sans-serif;
  margin: 0;
  font-size: 20px;
  letter-spacing: 5px;
}

nav {
  font-family: 'Oswald', 'Helvetica', sans-serif;
  font-size: 16px;
}

footer nav {
  font-family: 'Raleway', 'Helvetica', sans-serif;
}

.wrap {
  width: 1140px;
  text-align: center;
  margin: 0 auto;
  height: 100%;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content {
  margin-top: 150px;
  flex-direction: column;
  text-align: left;
}

h2 {
  color: #CC0000
}

.span__top {
  color: #CC0000;
}

.span__bottom {
  color: #448C58;
}

a {
  text-decoration: none;
}

.section__grey {
  background-color: #A8A8A8;
  padding: 50px 0;
  text-align: center;
  color: #2E2E2E;
}

.section__blank {
  padding: 50px 0;
  text-align: center;
  color: white;
}

.section__wrap {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin: 0 auto;
}

.section__wrap p {
  margin: 0;
}

.section__wrap aside {
  margin-top: 10px;
}

.section__wrap iframe {
  border-style: none;
}


/* HEADER */

header {
  height: 100px;
  position: fixed;
  z-index: 9999;
  width: 100%;
  top: 0;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

header.sticky {
  background-color: #2E2E2E;
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.5);
}

.header__dark {
  background-color: #2E2E2E;
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.5);
}

ul {
  list-style-type: none;
  padding: 0;
}

header ul li {
  display: inline;
}

header a {
  text-decoration: none;
  color: white;
  transition: 0.2s;
}

header a:hover {
  color: #CC0000;
}

.mainnav ul li {
  letter-spacing: 5px;
  margin: 10px;
}

.socialmedia i {
  font-size: 30px;
  letter-spacing: 5px;
}

.mobileheader {
  display: none;
}


/* HERO */

.hero {
  background: url(../images/hero.jpg) no-repeat center center;
  background-size: cover;
  height: 100vh;
}

.herocontent {
  position: absolute;
  top: 55%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  text-align: center;
  margin: 0 auto;
}

.herocontent h1 {
  margin-bottom: 20px;
}

.hero .wrap {
  flex-direction: column;
}

.herotext img {
  display: none;
}

.herobutton {
  width: 300px;
  padding: 15px 0;
  margin: 20px auto;
  border: solid white 3px;
  transition: 0.2s;
  color: white;
}

.herobutton:hover {
  border: solid #FFA50D 3px;
  color: #FFA50D;
}

.herobutton2 {
  width: 200px;
  padding: 15px 0;
  margin: 20px auto;
  border: solid white 3px;
  transition: 0.2s;
  color: white;
}

.herobutton2:hover {
  border: solid #448C58 3px;
  color: #448C58;
}


/* LOCATIONS */

.locationshero {
  background: url(../images/abouthero.jpg) no-repeat center center;
  background-size: cover;
}

#locations .section__wrap article {
  margin-top: 25px;
}


/* MENU */

.menuhero {
  background: url(../images/menuhero.jpg) no-repeat center center;
  background-size: cover;
}

.menusection .wrap {
  width: 50%;
  flex-direction: column;
}


/* NEWS */

.newshero {
  background: url(../images/news.jpg) no-repeat center center;
  background-size: cover;
}

#newsevents article {
  background-color: #2E2E2E;
  color: white;
  padding: 20px;
}

.newscontent {
  width: 60%;
}

.eventscontent {
  width: 30%;
}


/* ABOUT */

.abouthero {
  background: url(../images/about.jpg) no-repeat center center;
  background-size: cover;
}

.abouthero p {
  width: 50%;
  margin: 0 auto 10px;
}

.aboutcontent {
  text-align: left;
}

.about img {
  margin: 50px;
  box-shadow: 0 6px 5px rgba(0, 0, 0, 0.5);
}


/* LEGAL */

.legalcontent .wrap {
  margin-top: 100px;
  flex-direction: column;
  text-align: left;
}


/* RESERVE */

.form {
  width: 50%;
}

.form input {
  width: 100%;
  margin: 10px;
}


/* FOOTER */

footer {
  background-color: #2E2E2E;
  height: 50px;
  z-index: 9999;
  width: 100%;
  bottom: 0;
  margin: 0;
}

footer ul {
  list-style-type: none;
}

footer ul li {
  display: inline;
}

footer a {
  text-decoration: none;
  color: white;
  transition: 0.2s;
}

footer a:hover {
  color: #448C58;
}

.footernav ul li {
  margin: 10px;
}


/* MEDIA QUERIES */

@media only screen and (max-width: 1140px) {
  .wrap {
    width: 90%;
  }
}

@media only screen and (max-width: 980px) {
  .locations__wrap {
    width: 100%;
  }
  #newsevents .wrap {
    flex-direction: column;
  }
  .newscontent,
  .eventscontent {
    width: 100%;
  }
}

@media only screen and (max-width: 990px) {
  #locations .section__wrap {
    flex-direction: column;
  }
}

@media only screen and (max-width: 768px) {
  header.sticky {
    height: 135px;
  }
  .fullheader {
    display: none;
  }
  .mobileheader {
    display: block;
  }
  .mobileheader .herobutton {
    margin: 20px auto;
  }
  .mobileheader ul li {
    display: inline;
    margin: 5px;
    letter-spacing: 2px;
  }
  header .wrap {
    flex-direction: column;
    margin-top: 20px;
  }
  .socialmedia {
    display: none;
  }
  h1 {
    font-size: 100%;
    letter-spacing: 5px;
  }
  header {
    margin: 0 auto;
  }
  .hero p {
    font-size: 80%;
  }
  header ul li {
    display: block;
  }
  .menusection .wrap {
    width: 90%;
  }
  iframe {
    width: 100%;
    margin: 0 auto;
  }
  footer .wrap {
    flex-direction: column;
  }
  #about .wrap {
    flex-direction: column;
  }
  .aboutcontent {
    text-align: center;
  }
}