.homebody {
  background-color: #555555;
}

.pagebody {
  background: url(../images/bg.jpg) repeat center center;
  color: #555555;
}

body {
  font-family: 'Raleway', 'Helvetica', sans-serif;
}

h3,
h4 {
  font-family: 'Oswald', 'Helvetica', sans-serif;
  margin: 0;
}

.wrap {
  width: 1140px;
  text-align: center;
  margin: 0 auto;
  height: 100%;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content {
  margin-top: 150px;
  flex-direction: column;
  text-align: left;
}

h1 {
  color: white;
  letter-spacing: 20px;
  margin: 0 auto;
  text-shadow: 0 3px 2px rgba(0, 0, 0, 0.5);
  font-size: 3em;
}

h3 {
  letter-spacing: 8px;
  color: #ff4d00
}

h4 {
  letter-spacing: 5px;
}

.span__top {
  color: #ff4d00;
}

.span__bottom {
  color: #00ffde;
}


/* HEADER */

header {
  height: 100px;
  position: fixed;
  z-index: 9999;
  width: 100%;
  top: 0;

}

ul {
  list-style-type: none;
  padding: 0;
}

header ul li {
  display: inline;
  font-family: 'Oswald', 'Helvetica', sans-serif;
}

header a {
  text-decoration: none;
  color: white;
  transition: 0.2s;
}

header a:hover {
  color: #ff4d00;
}

.mainnav ul li {
  letter-spacing: 5px;
  margin: 10px;
}

.socialmedia i {
  font-size: 1.5em;
  letter-spacing: 5px;
}

.bgheader {
  background-color: #555555;
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.5);
}


/* HERO */

.hero {
  background: url(../images/hero.jpg) no-repeat center center;
  background-size: cover;
  height: 800px;
  opacity: 0.5;
}

.herotext {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  margin: 0 auto;
}


/* LOCATION */

.location {
  background-color: #555555;
  padding: 10px 10px 10px 50px;
  color: white;
  width: 50%;
  margin: 25px auto;
  text-align: center;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  align-content: center;
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.5);
}

.location p {
  margin: 0;
}

.location aside {
  margin-top: 10px;
}

.location iframe {
  border-style: none;
}

.location article {
  margin-top: 25px;
}

.locationboxes {
  margin-top: 50px;
}

.reservationbutton h4 {
  text-align: center;
  margin: 0 auto;
}

.reservationbutton a {
  text-decoration: none;
  color: white;
  transition: 0.2s;
  padding: 20px;
  border: solid white;
  background-color: #555555;
}

.reservationbutton a:hover {
  color: #ff4d00;
  border: solid #ff4d00;
}


/* FOOTER */

footer {
  background-color: #555555;
  color: white;
  height: 50px;
  z-index: 9999;
  width: 100%;
  bottom: 0;
  margin-top: 50px;
}

footer ul {
  list-style-type: none;
}

footer ul li {
  display: inline;
}

footer a {
  text-decoration: none;
  color: white;
  transition: 0.2s;
}

footer a:hover {
  color: #00ffde;
}

.footernav ul li {
  margin: 10px;
}